{
  "root": true,
  "extends": [
    "plugin:vue/recommended",
    "@vue/standard"
  ],
  "rules": {
    "no-tabs": [0, 4],
    "indent": [1, 4],
    "vue/html-indent": [1, 4],
    "vue/script-indent": [1, 4],
    "vue/max-attributes-per-line": [1, {
      "singleline": 1,
      "multiline": {
        "max": 100,
        "allowFirstLine": true
      }
    }]
  }
}