<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery.ba-hashchange.min.js"></script>
<script type="text/javascript">
  $(function(){

    // Bind the event.
    $(window).hashchange( function(){
    hashLoad();
    })

    // Trigger the event (useful on page load).
    $(window).hashchange();

  });

  function hashLoad() {
      var hashVal = window.location.hash.split("#")[1];
    $('.service').addClass("hidden");
    if(hashVal == 'strategic') {
      show("strategic");
    } else if(hashVal == 'tactical') {
      show("tactical")
    } else if(hashVal == 'operational') {
      show("operational");
    } else {
      show("allservices");
    }
  }

  function show(type) {
    $('.service').addClass("hidden");
    $('#'+type).removeClass("hidden");
  };

  function imageMove(type) {
    if(type == 'strategic') {
      $('#allservices img').css({'background-position' : '1611px 0'});
      $('#operational img').css({'background-position' : '1611px 377px'});
      $('#tactical img').css({'background-position' : '1611px 754px'});
      $('#strategic img').css({'background-position' : '0 1131px'});
    } else if(type == 'tactical') {
      $('#allservices img').css({'background-position' : '1074px 0'});
      $('#operational img').css({'background-position' : '1074px 377px'});
      $('#tactical img').css({'background-position' : '0 754px'});
      $('#strategic img').css({'background-position' : '1074px 1131px'});
    } else if(type == 'operational') {
      $('#allservices img').css({'background-position' : '537px 0'});
      $('#operational img').css({'background-position' : '0 377px'});
      $('#tactical img').css({'background-position' : '537px 754px'});
      $('#strategic img').css({'background-position' : '537px 1131px'});
    } else {
      $('#allservices img').css({'background-position' : '0 0'});
      $('#operational img').css({'background-position' : '0 377px'});
      $('#tactical img').css({'background-position' : '0 754px'});
      $('#strategic img').css({'background-position' : '0 1131px'});
    }
  }
</script>
